<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JBC</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body style="background-color: #e9ebee;width: 100%;">
  <nav id="nav">
    <header>
      <h1>Junior Baby Center (JBC)</h1>
    </header><br /><br />
    <div class="topnav">
    <ul>
      <div class="header-logo">JBC</div>
    <a class="nav-link" href="About us">
      <li>About us</li>
    </a>
    <a class="nav-link" href="Services">
      <li>Services</li>
    </a>
    <a class="nav-link" href="Contacts">
      <li>Contacts</li>
    </a>
    <a class="nav-link" href="/login">
      <li>Login</li>
    </a>
    </ul>
    </div>
    </nav>
  </nav>
    </body>
  