<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <h1>Admin Login Page</h1>;
    <div>
        <form method="POST">
            
            <ul>
                <li><label for="username">userName</label></li>
                <li><input type="text" id="username" name="username"></li>
                <li><label for="password">Password</label></li>
                <li><input type="password" id="password" name="password"></li></br>
                <button type="submit">login</button>
                <button type="reset">cancel</button>
                <!-- <input type="submit" value="login" id="login" ></li>
                    <input type="reset" id="cancel" value="cancel" > -->
            </ul>
        </form>
    </div>
</body>

</html>