
<html>

<head>
    <title>Supervisors</title>
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/super.css">
    <!-- <script src="validate.js"></script> -->
</head>

<body>
    <h1>Supervisor's Details</h1>
    <form method="POST">
        <label>First Name :</label>
        <input type="text" name="firstName" id="" placeholder="Enter first name..."><br /><br />
        <label>Last Name :</label>
        <input type="text" name="lastName" id="" placeholder="Enter last name..."><br /><br />
        <label>Sex :</label><br />
        <input type="radio" name="sex" id="" value="Male">Male
        <input type="radio" name="sex" id="" value="Female">Female<br /><br />
        <label>Date of Birth :</label>
        <input type="date" name="dateOfBirth" id=""><br /><br />
        <label>Place of Residence :</label>
        <input type="text" name="residence" id="" placeholder="Place of Residence..."><br /><br />
        <label>Phone Number :</label>
        <input type="number" name="phoneNumber" id=""><br /><br />
        <label>Clubs :</label>
        <select name="club" id="">
            <option value="Select Club" disabled selected>Select Club</option>
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
            <option value="Night">Night</option>
        </select>
        <br /><br />
        <button type="submit">Register</button>
    </form>

</body>

</html>