form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 2em;
  background-color: rgb(177, 219, 219);
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 200px;
  height: 25px;
  font-size: 20px;
}
inputs{
  height: 25px;
}
h1{
  text-align: center;
}